projects/vmtranslator/bin/Debug/netcoreapp2.2/vmtranslator.dll
projects/vmtranslator/bin/Debug/netcoreapp2.2/vmtranslator.pdb
projects/vmtranslator/bin/Debug/netcoreapp2.2/vmtranslator.deps.json
projects/vmtranslator/obj/project.assets.json
projects/vmtranslator/obj/vmtranslator.csproj.nuget.cache
projects/vmtranslator/obj/vmtranslator.csproj.nuget.dgspec.json
projects/vmtranslator/obj/vmtranslator.csproj.nuget.g.props
projects/vmtranslator/obj/Debug/netcoreapp2.2/vmtranslator.dll
projects/vmtranslator/obj/Debug/netcoreapp2.2/vmtranslator.pdb
projects/vmtranslator/obj/Debug/netcoreapp2.2/vmtranslator.assets.cache
projects/vmtranslator/obj/Debug/netcoreapp2.2/vmtranslator.csprojAssemblyReference.cache
